@font-face {
  font-family: 'Manrope-Medium';
  font-weight: 400;
  font-style: normal;
  src: local('Manrope-Medium'),
    url('../fonts/Manrope-Medium.woff2') format('woff2'),
    url('../fonts/Manrope-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-Regular';
  font-weight: 500;
  font-style: normal;
  src: local('Manrope-Regular'),
    url('../fonts/Manrope-Regular.woff2') format('woff2'),
    url('../fonts/Manrope-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('Manrope-SemiBold'),
    url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
    url('../fonts/Manrope-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Manrope-Bold'),
    url('../fonts/Manrope-Bold.woff2') format('woff2'),
    url('../fonts/Manrope-Bold.woff') format('woff');
  font-display: swap;
}