html,
body {
  height: 100%;
}

body {
  @extend %manrope-500;
  color: $grey-500;
  font-size: 14px;
  letter-spacing: 0.03em;
  letter-spacing: 1.4;
}

.swiper {
  height: 462px;

  &-button {
    position: static;
  }
}


.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  margin: 0 auto;
  max-width: 1470px;
  padding: 0 15px;
}

.button {
  @extend %manrope-500;
  background-color: $blue-400;
  border-radius: 10px;
  color: $white-100;
  letter-spacing: 0.03em;
}

.title {
  @extend %manrope-700;
  color: $black-600;
  font-size: 32px;
  letter-spacing: 0.015em;
  line-height: 1.3;
  margin-bottom: 50px;
  text-align: center;
}

.pretitle {
  @extend %manrope-700;
  color: $blue-400;
  margin-bottom: 10px;
  text-align: center;
}

.doctor–°ard {
  background-color: $white-100;
  border-radius: 10px;
  bottom: 14%;
  box-shadow: 0px -24px 34px rgba(199, 201, 217, 0.15);
  letter-spacing: 0.03em;
  max-width: 144px;
  padding: 10px;
  position: absolute;
  right: 39%;
  text-align: center;
  width: 100%;

  &--big {
    bottom: 51%;
    max-width: 209px;
    padding: 18px 30px;
    right: 32%;
    width: 100%;
  }

  &__img {
    border-radius: 50%;
    margin-bottom: 10px;
    margin: 10px auto;

    &--big {
      margin: 0 auto;
    }
  }

  &__title {
    @extend %manrope-700;
    color: $black-600;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 4px;

    &--big {
      text-align: left;
      margin-bottom: 0;

    }
  }

  &__text {
    @extend %manrope-400;
    color: $grey-500;
    display: block;
    display: block;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px;

    &--big {
      margin-bottom: 10px;
      text-align: left;
    }
  }

  &__button {
    @extend %manrope-600;
    font-size: 12px;
    line-height: 1.3;
    padding: 10px;

    &--big {
      background-color: rgba(237, 241, 255, 1);
      color: $blue-400;
      padding: 8px 37px;
    }
  }

  &__wrap {
    margin-bottom: 10px;
  }

  &__content {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

  }

  &__contentText {
    padding-top: 8px;
    text-align: left;
  }

  &__linkWrap {
    padding-right: 14px;
  }
}