$blue-400: #4D77FF;
$black-600: #121212;
$grey-500: #696969;
$white-100: #FFFFFF;
$silver-300: #C7C9D9;

%manrope-400 {
  font-family: 'Manrope-Light';
  font-weight: 400;
}

%manrope-500 {
  font-family: 'Manrope-Regular';
  font-weight: 500;
}

%manrope-600 {
  font-family: 'Manrope-SemiBold';
  font-weight: 600;
}

%manrope-700 {
  font-family: 'Manrope-Bold';
  font-weight: 700;
}