<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logoWrap">
        <a class="footer__logoLink" href="#header">
          <img class="logo footer__logo" loading="lazy" width="175" high="33" src="../img/header/logo.svg" alt="logo">
        </a>
        <div class="text footer__text">
          <p>
            This free App provides a solution to your health needs by offering
            you a one-stop access to complete information about various
            medical checkups. This App carries simple tips and advice to
            help you maintain a healthy lifestyle.
          </p>
        </div>
      </div>

      <div class="footer__content">
        <h3 class="footer__title">
          Overview
        </h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">
              Checking Health
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Find Docter
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Make a Schedule
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__content">
        <h3 class="footer__title">
          Company
        </h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">
              Home
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              About
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Services
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__content">
        <h3 class="footer__title">
          Explore
        </h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">
              Terms & Conds
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Privacy Police
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Cookies
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__content footer__content_social">
        <div class="footer__title-wrap">
          <h3 class="footer__title">
            Social Media
          </h3>
        </div>
        <ul class="footer__list footer__list_social">
          <li class="footer__item footer__item_social">
            <a class="footer__link footer__link_facebook" href="#">
              <span class="sr-only">facebook</span>
            </a>
          </li>
          <li class="footer__item footer__item_social">
            <a class="footer__link footer__link_instagram" href="#">
              <span class="sr-only">instagram</span>
            </a>
          </li>
          <li class="footer__item footer__item_social">
            <a class="footer__link footer__link_twitter" href="#">
              <span class="sr-only">twitter</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>