  <header class="header">
    <div class="header__top">
      <div class="container">

        <nav class="header__nav">

          <div class="header__logo">
            <a class="header__logoLink" href="#header">
              <img class="logo" src="../img/header/logo.svg" alt="logo">
            </a>
          </div>

          <!-- <button class="burger" type="button">
              <span class="burger__line"></span>
              <span class="sr-only">Open menu</span>
            </button> -->

          <ul class="header__menu">
            <li class="header__item">
              <a class="header__link" href="#about">
                Home
              </a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#skills">
                Doctor
              </a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#services">
                Services
              </a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#portfolio">
                Review
              </a>
            </li>
          </ul>

          <div class="header__userNav">
            <button class="header__button header__button--white button">
              Sign In
            </button>

            <button class="header__button button">
              Sign Up
            </button>
          </div>
        </nav>
      </div>
    </div>
  </header>
